<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<meta http-equiv="Content-Type" content="We hold tango classes every quarter with some fabulous 
	instructors. Partners are not required. Just bring a pair of comfortable shoes and dance the night 
	away."/>
	<title>Stanford Tango Club</title>	
	<script src = "/static/curon-yui.js" type = "text/javascript"></script>
	<script src = "/static/Abadi.js" type = "text/javascript"></script>
	<script type = "text/javascript">
		Cufon.replace('h6');
		Cufon.replace('#abadi');
	</script>
</head>

<body style = "background-color: #000000;">
	<a name = "top"></a>
	<div class = "wholepage">
		<div class="subscribebanner">
			<p><a class="headtext" href="https://mailman.stanford.edu/mailman/listinfo/tango-club">Subscribe 
				to Newsletter</a></p>
		</div>
		<div class="headbanner">
			<a class="bannerlk" href="/"><img class="banner" src="/static/Images/Tango_web.png" 
				alt="Stanford Tango"/></a>
		</div>
		<div class="navigation">
			<a class="navitab" href="/"><h6 class = "tab" id = "abadi">Home</h6></a>
			<a class="navitab" href="/about"><span class = "tab" id = "abadi">About</span></a>
			
			<a class="navitab" href="about.html"><img class="tab" src="/static/Images/Home.png" alt="Home" id="Home" height=20px /></a>
			<a class="navitab" href="about.html"><img class="tab" src="/static/Images/About.png" 
				alt="About" id="About" height=20px /></a>
			<a class="navitab" href="news.html"><img class="tab" src="/static/Images/News.png"
				alt="News" id="News" height=20px /></a>
 			<a class="navitab" href="classes.html"><img class="tab" src="/static/Images/Classes.png" 
				alt="Classes" id="Classes" height=20px /></a>
  			<a class="navitab" href="practicas.html"><img class="tab" 
				src="/static/Images/Practicas.png" alt="Practicas" id="Practicas" height=20px /></a>
  			<a class="navitab" href="calendar.html"><img class="tab" src="/static/Images/Calendar.png" 
				alt="Calendar" id="Calendar" height=20px /></a>
			<a class="navitab" href="faq.html"><img class="tab" src="/static/Images/FAQ.png" alt="FAQ" 
				id="FAQ" height=20px /></a>
			<a class="navitab" href="links.html"><img class="tab" src="/static/Images/Links.png" 
				alt="Links" id="Links" height=20px /></a>
			<a class="navitab" href="contact.html"><img class="tab" src="/static/Images/Contact.png" 
				alt="Contact" id="Contact" height=20px /></a>
		</div>
	</div>
	<script type = "text/javascript"> Curon.now(); </script>
</body>
</html>