<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="We hold tango classes every quarter with some fabulous instructors. Partners are not 
	required. Just bring a pair of comfortable shoes and dance the night away." />
	<title>Stanford Tango Club</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body style = "background-color: black">
	<a name="top"></a>
	<div class="box">
		<div class="subscribe">
			<p><a class="headtext" href="https://mailman.stanford.edu/mailman/listinfo/tango-club">Subscribe 
				to Newsletter</a></p>
		</div>
		<div class="header">
			<a class="bannerlk" href="index.html"><img class="banner" src="/static/Images/Tango_web.png" 
				alt="Stanford Tango"/></a>
		</div>
		<div class="container">
			<div class="navigation">
				<a class="activenavitab" href="index.html"><img class="tab" src="/static/Images/Home.png" 
					alt="Home" id="Home" height=20px /></a>
				<a class="navitab" href="about.html"><img class="tab" src="/static/Images/About.png" 
					alt="About" id="About" height=20px /></a>
				<a class="navitab" href="news.html"><img class="tab" src="/static/Images/News.png"
					alt="News" id="News" height=20px /></a>
     			<a class="navitab" href="classes.html"><img class="tab" src="/static/Images/Classes.png" 
					alt="Classes" id="Classes" height=20px /></a>
      			<a class="navitab" href="practicas.html"><img class="tab" 
					src="/static/Images/Practicas.png" alt="Practicas" id="Practicas" height=20px /></a>
      			<a class="navitab" href="calendar.html"><img class="tab" src="/static/Images/Calendar.png" 
					alt="Calendar" id="Calendar" height=20px /></a>
				<a class="navitab" href="faq.html"><img class="tab" src="/static/Images/FAQ.png" alt="FAQ" 
					id="FAQ" height=20px /></a>
				<a class="navitab" href="links.html"><img class="tab" src="/static/Images/Links.png" 
					alt="Links" id="Links" height=20px /></a>
				<a class="navitab" href="contact.html"><img class="tab" src="/static/Images/Contact.png" 
					alt="Contact" id="Contact" height=20px /></a>
			</div>
			<div class="contentbox">
					<div class="content">
						<h1>News</h1>
                    	<div class="newsblock">
							<h3>Spring Workshop with Cristina and Homer </h3>
							<img src="/static/Images/CH.jpg" width = 90%/><br><br>
							Join us for an immersive workshop weekend focused on "The Elastic Embrace" 								&quot;more&quot; link below for details.<br>
							<div class="more">
								...<br/><a href="news.html#11autclass2">More</a>
							</div>
						</div>
                 	   	<div class="newsblock">
							<h3>Winter 2011 Classes - 6 Weeks of Tango </h3>
							<img src="/static/Images/JR.jpg" alt="Julian Ramil" width = 90%/><br><br>
							Join us for our series class on Thursdays, 1/19 -  2/23, with Julian Ramil! 
							Click the &quot;more&quot; link below for details.<br>
							<div class="more">
								...<br/><a href="news.html#11autclass2">More</a>
							</div>
						</div>
						<div class="newsblock">
							<h3>Autumn 2011 Classes - 10 Weeks of Tango Part 2</h3>
							<img src="/static/Images/Felipe.jpg" alt="Felipe Martinez" width = 100%/><br><br>
							Join us for our second 5-week series on Wednesdays, Nov 9 - Dec 14, with Felipe 
							Martinez and Jean Chao! Click the &quot;more&quot; link below for details.<br>
							<div class="more">
								...<br/><a href="news.html#11autclass2">More</a>
							</div>
						</div>
						<div class="newsblock">
							<h3>November 2011 Workshop Weekends</h3>
							<img src="/static/Images/mm_ka.jpg" alt="Murat & Michelle and Korey & Adeline" 
							width = 100%/><br><br>
							Stanford Tango Club enthusiastically presents workshop weekends with <a 
							class="link" href="http://muratandmichelle.com/">Murat & Michelle Erdemsel</a> 
							on November 5 & 6 and <a class="link" href="http://www.koreyadeline.com/">Korey 
							& Adeline Ireland</a> on November 19 & 20.<br>
							<div class="more">
                    			...<br/><a href="news.html#11novwk">More</a>
                    		</div>
						</div>
					</div>
			<div class="content">
				<h1>Subscribe to STC</h1>
				If you want to stay up to date on Stanford Tango Club events, follow the instructions on <a 
				class="link" href="https://mailman.stanford.edu/mailman/listinfo/tango-club">this page</a> 
				to get on the mailing list.
			</div>
			<a class="foottext" href="#top"><span class="right">&uarr;&nbsp;Back to the top</span></a>
		</div>
	</div>
		<div class="sidebox">
			<div>
				<p><a href="https://mailman.stanford.edu/mailman/listinfo/tango-club"><img class="sidetabs" src="/static/Images/Subscribe.png" alt="Subscribe to Newsletter"/></a></p>
				<p><a href="news.html"><img class="sidetabs" src="/static/Images/Events.png" alt="Check Out Our Events" id="About"/></a></p>
				<p><a href="contact.html#contact"><img class="sidetabs" src="/static/Images/Question.png" alt="Ask A Question" id="News"/></a></p>
			</div>
			<div class="content">
				<h1>Upcoming Events</h1>
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23666666&amp;src=stanfordtangoclub%40gmail.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>
		</div>
</div>
</body>
</html>
